.header{
    /* background-color: mediumseagreen; */
    /* background-image: url("coran_background_wall_paper.jpg"); */
    background-image: linear-gradient( rgb(37, 37, 177), black);
    font-size: x-large;
    margin-top: -40px;
    color: rgba(228, 236, 240, 0.973);
    box-shadow: 0 .25em .5em #CCC,inset 0 0 1em .25em #CCC;
    padding-left: 5%;
    padding-right: 5%;
}

/* Bloc conteneur */
.marquee-rtl {
    max-width: 30em;                      /* largeur de la fenêtre */
    margin: 1em auto 2em;
    border-radius: 5px 30px 50px 15px;
    border: 5px solid rgb(6, 6, 8);
    overflow: hidden;                     /* masque tout ce qui dépasse */
    box-shadow: 0 .25em .5em #CCC,inset 0 0 1em .25em #CCC;
}

/* le bloc défilant */
.marquee-rtl > :first-child {
    display: inline-block;                /* modèle de boîte en ligne */
    padding-right: 2em;                   /* un peu d'espace pour la transition */
    padding-left: 100%;                   /* placement à droite du conteneur */
    white-space: nowrap;                  /* pas de passage à la ligne */
    animation: defilement-rtl 15s infinite linear;
}

/* Règle @keyframes */
@keyframes defilement-rtl {
    0% {
      transform: translate3d(0,0,0);      /* position initiale à droite */
    }
    100% {
      transform: translate3d(-100%,0,0);  /* position finale à gauche */
    }
}

.footer{
    font-size: small;
}

.titre{
    text-align: center;
    font-style: italic;  
    color: burlywood; 
}

.logo{
    width: 25px;
    height: 25px;
}

.logo_grand{
    width: 215px;
    height: 55px;
}

.button{
    background-color: mediumseagreen;
    text-align: center;
    border-radius: 5px 30px 50px 15px;
    width: 150px;
    height: 35px; 
    font-size: medium;
}

.num_sourate{
    border-radius: 5px 30px 50px 15px;
    width: 50px;
    height: 35px; 
    font-size: medium;
}

.word_to_find{
    border-radius: 5px 30px 50px 15px;
    width: 150px;
    height: 35px; 
    font-size: medium;
    font-weight: bold;
}

.button:hover{
    background-color: lightseagreen;
    text-align: center;
    border-radius: 15px 50px 30px 5px;
    width: 150px;
    height: 35px; 
    font-size: medium;

}

body{
    text-align: center;
    background-color: rgb(238, 192, 132);
    background-image: linear-gradient(black 20%,blue,white);
    font-size: medium;
    border: 15px solid rgb(16, 16, 17);
    box-shadow: 0 .25em .5em #CCC,inset 0 0 1em .25em #CCC;
    border-radius: 5px 30px 50px 15px;
    padding-top: 0.5%;
}

.parchemin {
    /*background-image: url("parchemin.gif");*/
    background-color: sandybrown;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire */    
    position: center;
    margin: 5%;
    border-radius: 5px;
}

.text_parchemin{
    margin-top: 5%;
    overflow: scroll;    
}

/* Style de base pour le champ de recherche */
.search-input {
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 25px 0 0 25px; /* Coins arrondis gauche */
    outline: none;
    width: 250px;
    transition: border-color 0.3s ease-in-out;
}

/* Style de base pour le bouton de recherche */
.search-button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007BFF; /* Couleur de fond */
    border: 2px solid #007BFF;
    border-radius: 0 25px 25px 0; /* Coins arrondis droite */
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

    /* Changement de couleur au survol */
    .search-button:hover {
        background-color: #0056b3;
        border-color: #0056b3;
    }

/* Changement de bordure au focus */
.search-input:focus {
    border-color: #007BFF;
}